.firmCard {
  display: flex;
  position: relative;
  background: #ffffff;
  transition: all 0.3s ease;
  padding: 40px 20px;

  @media (min-width: 1680px) {
    padding: 50px 30px;
  }

  &:hover {
    background: #07C06A;
  }

  &:hover > button {
    border-color: #ffffff;
    background: #07C06A;
  }
}

.firmCardBorder {
  border: 10px solid #ffffff;
  padding: 30px 10px;

  @media (min-width: 1400px) {
    border: 15px solid #ffffff;
    padding: 35px 15px;
  }

  &:hover {
    background: #ffffff;
    border-color: #07C06A;
  }

  &:hover > button {
    border-color: #07C06A;
    background: #07C06A;
  }
}
